
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="ngopress - Nonprofit, Crowdfunding & Charity HTML5 Template" />
<meta name="keywords" content="charity,crowdfunding,nonprofit,orphan,Poor,funding,fundrising,ngo,children" />
<meta name="author" content="ThemeMascot" />

<!-- Page Title -->
<title>Annai Educational Trust</title>

<!-- Favicon and Touch Icons -->
<link href="images/favicon.png" rel="shortcut icon" type="image/png">
<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link href="css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- CSS | Theme Color -->
<link href="css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="js/jquery-plugin-collection.js"></script>
</head>
<body style="background: black">
<div id="wrapper" class="clearfix">
  <!-- preloader -->
 <!-- <div id="preloader">
    <div id="spinner">
      <img class="floating" src="images/preloaders/13.png" alt="">
      <h5 class="line-height-50 font-18 ml-15">Loading...</h5>
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>-->
	<!-- Start main-content -->
	<div class="main-content">
	<div class="display-table">
        <div class="display-table-cell">
		<div class="container">
			<div class="row">
              <div class="col-md-6 col-md-push-3">
                <div class="text-center mb-60"><a href="#" class=""><img alt="" src="images/logo-wide.png"></a></div>
                <form id= "reg" name="reg-form" class="register-form form-transparent" method="post" action="/register">
							<div class="icon-box mb-0 p-0">
                    <h4 class="text-theme-colored pt-10 mt-0 mb-30">Don't have an Account? Register Now.</h4>
							</div>
							<p class="text-gray">All the fields are mandatory.</p>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_fisrt_name">First Name</label> <input
										name="firstName" id="firstName" class="form-control"
										type="text"/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_last_name">Last Name</label> <input
										name="lastName" id="lastName" class="form-control"
										type="text"/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_Adhar_No">Enter Adhar No</label> <input
										id="aadharNo" name="aadharNo" class="form-control"
										type="text"/>
								</div>
							</div>
						 	<div class="row">
								<div class="form-group col-md-6">
									<label for="form_choose_password">Choose Password</label> <input
										id="password" name="password" class="form-control"
										type="password"/>
								</div>
								<div class="form-group col-md-6">
									<label>Re-enter Password</label> <input id="confirmPassword"
										name="confirmPassword" class="form-control"
										type="password"/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_dob">Birthday</label> <input id="dob"
										name="dob" class="form-control" type="date"/>
								</div>
							</div>
 							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_address">Address</label>
									<input id="address" name="address"
										class="form-control" 
										placeholder="Enter Address" type="text"/>
								</div>
							</div> 
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_telephone">Telephone Number</label> <input
										id="phoneNo" name="phoneNo" class="form-control"
										type="text"/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_category">Category</label> <select
										class="form-control" id="caste" name="caste">
										<option>General</option>
										<option>OBC</option>
										<option>ST</option>
										<option>SC</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_gender">Select Gender</label> <select
										class="form-control" id="gender" name="gender">
										<option>Male</option>
										<option>Female</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_qualification">Qualification</label> <input
										id="qualification" name="qualification"
										class="form-control" type="text"/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_income">Annual Income</label> <input
										id="annualIncome" name="annualIncome"
										class="form-control" type="number" min="0"/>
								</div>
							</div> 
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_marital_status">Marital Status</label> <select
										class="form-control" id="maritalStatus"
										name="maritalStatus">
										<option>Unmarried</option>
										<option>Married</option>
										<option>Widow</option>
									</select>
								</div>
							</div>
 							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_children">No of Children</label> <input
										id="noOfChildren" name="noOfChildren"
										class="form-control" type="number" min="0"/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="form_area">Select Area</label> <select
										class="form-control" id="isRural" name="isRural">
										<option>Rural</option>
										<option>Urban</option>
									</select>
								</div>
							</div> 
							<div class="form-group">
								<button class="btn btn-theme-colored btn-lg btn-block mt-15" type="submit">Register Now</button>
							</div>
						</form>
						
<!-- <script>  
$("#reg").validate({
 submitHandler: function(form) {
   var form_btn = $(form).find('button[type="submit"]');
   var form_result_div = '#form-result';
   $(form_result_div).remove();
   form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
   var form_btn_old_msg = form_btn.html();
   form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
   $(form).ajaxSubmit({
     dataType:  'json',
     success: function(data) {
       if( data.status == 'true' ) {
         $(form).find('.form-control').val('');
       }
       form_btn.prop('disabled', false).html(form_btn_old_msg);
       $(form_result_div).html(data.message).fadeIn('slow');
       setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
     }
   });
 }
});
</script> -->
<script>
    $(function(){           
        if (!Modernizr.inputtypes.date) {
        // If not native HTML5 support, fallback to jQuery datePicker
            $('input[type=date]').datepicker({
                // Consistent format with the HTML5 picker
                    dateFormat : 'yy-mm-dd'
                },
                // Localization
                $.datepicker.regional['it']
            );
        }
    });
</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>